body {
}
.configure, #priceWordspace {
    text-align: center;
}

.active {
    background-color: #E2F86F;
    color: #000000;
}

#priceWorkspace, #operation {
    padding-left: 1em;
}

.period {
    padding-right: .8em;
}

#warning {
    background-color: #FAFAD2;
    border: 2px #2E8B57 solid;
    text-align: center;
    color: red;
}