<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4">
	<display-name>Exercise System</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/conf/applicationContext.xml,
			/WEB-INF/classes/conf/action-servlet.xml
		</param-value>
	</context-param>
	<distributable/>
	<servlet>
		<servlet-name>SpringContextServlet</servlet-name>
		<servlet-class>org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Hibernate Open Session In View filter-->
	<filter>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			net.yanhl.struts.MyActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/classes/conf/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CreateActivity</servlet-name>
		<servlet-class>net.yanhl.servlet.CreateActivity</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description>Service jsonp</description>
		<display-name>JsonpServlet</display-name>
		<servlet-name>JsonpServlet</servlet-name>
		<servlet-class>net.yanhl.servlet.JsonpServlet</servlet-class>
	</servlet>
	<!-- <servlet> <description>publish webservice</description> <display-name>webservice</display-name> 
		<servlet-name>webservice</servlet-name> <servlet-class>net.yanhl.servlet.WebServiceServlet</servlet-class> 
		<load-on-startup>3</load-on-startup> </servlet> -->

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonpServlet</servlet-name>
		<url-pattern>/JsonpServlet</url-pattern>
	</servlet-mapping>
	
	<filter-mapping>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>400</session-timeout>
	</session-config>

	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>
			/WEB-INF/tlds/struts-logic.tld
		</taglib-location>
	</taglib>
</web-app>